server{
	listen 80;
	server_name change/to/your/servername;

	root change/to/your/root/path;
	index index.php index.html index.htm;
	access_log /var/log/nginx/your_server.access.log;
	error_log /var/log/nginx/your_server.error.log error;

	location / {
		try_files $uri $uri/ /index.php?$query_string;
	}

    location ~ index\.php {
        fastcgi_pass   php:9000;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include        fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/letsencrypt/;
        log_not_found off;
    }
}